# Core functionality - changes here should be rare!
/src/app.py                   @TagDhanyal
/src/backend/database.py      @TagDhanyal
/src/backend/routers/auth.py  @TagDhanyal

# The frontend will need refactored soon to be more object oriented.
/src/static/   @TagDhanyal
